.productContainer {
  margin: 2rem 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.productCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.productCategories > * {
  color: aliceblue;
  border-bottom: 1px solid aliceblue;
  cursor: pointer;
}
.productCategories > *:hover {
  color: #41b9fb;
  border-bottom: 1px solid #41b9fb;
}
.productCategories > *:active {
  color: #41b9fb;
  border-bottom: 1px solid #41b9fb;
}
.loader {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
li {
  list-style: none;
  text-decoration: none;
}
a.active > * {
  color: #41b9fb;
}
