.heroContainer {
  margin-top: 2rem;
  height: 90dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: default;

}

.welcome-text {
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: 54px;
  letter-spacing: 5px;
  margin: 0;
}

.sub-welcome-text {
  color: var(--clr-accent-200);
  font-family: var(--ff-secondary);
  font-size: 25px;
}

.heroContainer-img {
  height: 29rem;
  margin: 0;
}

@media (max-width: 600px) {
  .heroContainer {
    flex-direction: column;
    gap: 4rem;
  }

  .heroContainer-img {
    width: 350px;
    height: 300px;
  }
}
