.form-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  display: flex;
  background: #11b5e4;
  width: 70%;
}
.input-container {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e424d;
}
.image-container {
  flex: 50%;
}
.image-container > img {
  width: 100%;
}

.form-card {
  color: white;
  height: 70%;
  width: 90%;
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.singCard {
  height: 90%;
}
.form-header {
  font-size: 30px;
  cursor: default;
}
.form-card > input {
  width: 50%;
  outline: none;
  background-color: #c5e8f7;
  border: none;
  border-bottom: 1px solid black;
}
.form-card > input:focus {
  outline: none;
  border-bottom: 2px solid green;
}
.form-submitBtn {
  font-size: 15px;
  padding: 10px 40px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #11b5e4;
  cursor: pointer;
}
.form-submitBtn:hover {
  color: black;
  background-color: aqua;
}
.form-passwordReset {
  margin-top: 1rem;
  opacity: 0.5;
  cursor: pointer;
  color: white;
}
.form-passwordReset:hover {
  color: #98dad9;
  font-weight: bold;
}
.errorMsg {
  margin-top: -20px;
  font-size: 10px;
  color: red;
  cursor: default;
}
.successLoginHeader {
  font-size: 30px;
  color: whitesmoke;
  cursor: default;
}
.successLoginBtn {
  width: 150px;
  padding: 10px 5px;
  font-size: 15px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.successLoginBtn:hover {
  background-color: #11b5e4;
  color: white;
  transition: all 300ms ease-in-out;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
  .form-card {
    padding: 10px 0;
    height: 100%;
  }
  .form-card > input {
    width: 100%;
  }
  .image-container > img{
height: 75%;

  }
}
