.flex-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  cursor: default;
  position: relative;
  margin-top: 3rem;
}

.emptyCart {
  width: 200px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.total-pricing {
  height: 300px;
  width: 200px;
  padding: 20px 0;
  text-align: center;
  align-items: center;
  position: sticky;
  background-color: #009068;
  gap: 2rem;
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
}

.total-pricing-summit {
  font-size: 24px;
  font-weight: bold;
}

.pricingBtn {
  width: 8rem;
  padding: 5px 0;
  border-radius: 10px;
  background-color: var(--clr-accent-300);
  color: var(--clr-neutral-100);
  cursor: pointer;
}

.checkOutBtn:hover {
  background-color: var(--clr-accent-active);
}

.clearBtn:hover {
  background-color: red
}

.pricingBtn:disabled {
  opacity: 0.4;
  background-color: var(--clr-neutral-900);
  cursor: default;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--clr-accent-300);
  width: 800px;
  padding: 2rem 0;
  font-family: var(--ff-primary);

}

.cart-container>h2 {
  color: var(--clr-neutral-100);
}

.cart-product {
  display: flex;
  gap: 1rem;
  width: 50rem;
  color: black;
}


.product-container {
  padding: 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 3rem;
  border: 1px solid black;
  border-radius: 24px;
  background-color: white;
  width: 35rem;
  cursor: default;
}

.productImg {
  width: 100px;
  height: 90px;
  margin-left: 1rem;
}


.productQuantiy-container {
  display: flex;
  gap: 5px;
  width: 50px;
  align-items: baseline;
  justify-content: center;
}

.productQuantity {
  text-align: center;
  font-size: 10px;
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 24px;
  cursor: pointer;

}

.productQuantity:hover {
  color: var(--clr-accent-200);
}

.productName {
  width: 300px;
}

.productPrice {
  position: absolute;
  right: 15px;
  bottom: 10px;
  font-weight: bold;
}

.product-remove {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 20px;
  cursor: pointer;
}

.product-remove:hover {
  color: red;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }

  .cart-container {
    width: 300px;
  }

  .product-container {
    width: 200px;
    gap: 1rem;
    font-size: 12px;
    margin-bottom: 0.5rem;
  }

  .productName {
    width: 70px;
  }

  .total-pricing {
    height: 200px;
    margin-bottom: 2rem;
  }
}