.heroContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.heroContainer-img {
  height: 30rem;
}
.heroContainer-text {
  padding: 0;
  margin: 0;

  font-family: "Marko One", serif;
  font-size: 30px;
  text-align: center;
  color: whitesmoke;
  cursor: default;
}
h1 {
  padding: 0;
  margin: 0;
}
@media (max-width: 600px) {
  .heroContainer {
    flex-direction: column;
    gap: 4rem;
  }
  .heroContainer-text {
    font-size: 20px;
  }
  .heroContainer-img {
    width: 350px;
    height: 300px;
  }
}
