.profilePage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.profilePage-card {
  margin-top: 3.5rem;
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  height: 300px;
  width: 50%;
  background-color: white;
  border-radius: 25px;
}
.left-side-profile {
  flex: 40%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.right-side-profile {
  flex: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5%;
  height: 100%;
}
.right-side-profile > h2 {
  cursor: default;
}

@media (max-width: 600px) {
  .profilePage-card {
    flex-direction: column;
    width: 80%;
    height: fit-content;
  }
}
