ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  height: 4rem;
  gap: 2rem;
  background-color: rgb(46, 66, 77, 0.5);
  color: aliceblue;
}

nav {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.mainLogo {
  height: 50px;
  width: 200px;
}

li {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

a.active>li {
  color: #98dad9;
  border-bottom: 1px solid white;
  padding: 10px;
}

li>*:hover {
  color: #08c3bb;
}

.nav__btns {
  display: flex;
  gap: 1rem;
}

.nav__btns-login {
  background-color: #5b8291;
  color: white;
}

.nav__btns-login {
  font-size: 16px;
  border-radius: 24px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
}

.nav__btns-login:hover {
  scale: 1.2;
  transition: ease-out 0.3s;
  background-color: #98dad9;
  color: white;
}

.resposive_login {
  display: none;
}

.hamBars {
  display: none;
  background: none;
  border: none;
  color: white;
}

.profile-container {
  margin-right: 2rem;
}

@media (max-width: 600px) {
  nav {
    width: 100%;
  }

  .responsive-nav>* {
    display: block;
  }

  .responsive-nav {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    height: 100%;
    transition: ease-in;
    transition-duration: 1s;
  }

  ul {
    justify-content: space-evenly;
  }

  ul>* {
    display: none;
  }

  .mainLogo {
    height: 50px;
    width: 150px;
    margin-left: -50px;
    display: block;
  }

  .nav__btns-login {
    margin-bottom: 10px;
  }

  .hamBars {
    display: block;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
  }
}

/* Profile styling */
.profile {
  padding: 5px 10px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #5b8291;
  border-radius: 15px;
  cursor: pointer;
}

.profile:hover,
profile:active {
  background-color: #08c3bb;
}

.profile>h4 {
  margin: 0;
}

.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 20px;
}

.profile-menu {
  width: 150px;
  padding: 5px 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  top: 8%;
  background-color: white;
  color: black;
  border-radius: 15px;
  box-shadow: 0px 13px 32px 10px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 0px 13px 32px 10px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 0px 13px 32px 10px rgba(0, 0, 0, 0.62);
  z-index: 999;
}

.profile-link {
  font-size: 18px;
  margin: 0;
  cursor: pointer;
}

.profile-link:hover {
  color: #41b9fb;
}

.profile-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -1;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #41b9fb;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.profile-link:hover:after {
  width: 100%;
  left: 0;
}

/* Animation for profile menu */
.slide-bottom {
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .profile-menu {
    position: relative;
  }
}